.Message {
  border-radius: 5px;
  box-shadow: 0 0 0.5px #eee;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  padding: 8px;
  margin-bottom: 8px;
  grid-column: 1 / 4;
  }

.Message.right {
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-column: 2 / -1;
}

.Message:hover {
  background: beige;
}

.Message-author {
  background: skyblue;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  padding: 5px;
  grid-row: 1 / -1;
  /* align-self: center; */
} 

.Message.right .Message-author {
  grid-column: 2 / -1;
  margin-left: 10px;
  margin-right: 0;
}

@media screen and (min-width: 550px) {
  .Message-author {
    height: 30px;
    width: 30px;
  }
}

.Message-date {
  font-size: small;
}

.Message-text {
  margin: 0;
  word-break: break-word;
  width: 100%;
}

.Message.right .Message-text,
.Message.right .Message-date   {
  text-align: right;
}