.Message {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  padding: 4px;
  grid-column: 1 / 4;
  }

.Message.right {
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-column: 2 / -1;
}

.Message-author {
  border: 0.5px solid;
  border-radius: 50px;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  padding: 5px;
  grid-row: 1 / -1;
  align-self: end;
}

.Message.right .Message-author {
  grid-column: 2 / -1;
  margin-left: 10px;
  margin-right: 0;
}

/* @media screen and (min-width: 550px) {
  .Message-author {
    height: 20px;
    width: 20px;
  }
} */

.Message-date {
  font-size: 0.8em;
  padding: 3px 12px;
  color: grey;
}

.Message.right .Message-text,
.Message.right .Message-date   {
  justify-self: right;
}

.Message.left .Message-text {
  background: ghostwhite;
}

.Message-text {
  position: relative;
  background: skyblue;
  border-radius: 15px;
  margin: 0;
  padding: 7px 12px;
  width: fit-content;
  word-break: break-word;
}

.Message.right .Message-text:after {
  content: '';
	position: absolute;
	right: 2px;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.7em solid transparent;
	border-left-color: skyblue;
	border-right: 0;
	border-bottom: 0;
	margin-top: -0.35em;
	margin-right: -0.7em;
}

.Message.left .Message-text:after {
  content: '';
	position: absolute;
	left: -8px;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.7em solid transparent;
  border-right-color: ghostwhite;
  margin-bottom: 2px;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.35em;
	margin-right: -0.7em;
}
