.Typing {  
  color: grey;
  font-size: small;
  height: 28px;
  grid-column: 1 / 4;
}

.Typing-dots > div {
  width: 4px;
  height: 4px;
  margin-bottom: -1.5px;
  margin-left: 2px;
  background-color: grey;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.Typing-dot1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.Typing-dot2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.8) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}