.App {  
  margin: 10px;
}

@media screen and (min-width: 550px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
    /* font-size: 18px; */
    margin: 20px auto;
    max-width: 960px;  
  }
}